.button {
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  border: none;
  align-self: flex-end;
  background-color: #333;
  color: #ccc;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  font-family: Roboto, sans-serif;
}

.button:hover {
  background-color: #000000;
  color: #fff;
}
