.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  box-sizing: border-box;
  gap: 1rem;
  padding: 2rem 0 1rem 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

.item {
  display: grid;
  grid-template-columns: 50px 1fr auto;
  grid-template-rows: 50px;
  align-items: center;
  gap: 1rem;
  background-color: #f9f9f9;
  border-radius: 4px;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

.img {
  max-width: 100%;
  border-radius: 4px;
}

.title {
  font-size: 1rem;
  font-weight: normal;
  margin: 0px;
}

.acessos {
  font-family: monospace;
  font-size: 0.8rem;
  color: #999;
}

.endPhotos{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: .5rem;
  padding: .5rem 0 2rem 0;
}