.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid #bbb;
  background-color: #f1fbff
}
