   .loaderContainer {
    display: flex;
    text-align: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    flex: 2;
  }
  
  .loader {
    padding: 0;
    margin: 0;
  }

  